# Gizli Çevre Değişkenleri (Şifreler)
.env

# Sanal Ortam
venv/

# Python Ön Bellek Dosyaları
__pycache__/
*.pyc

# Veritabanı (Geri dönmek istersen diye)
db.sqlite3

# Kullanıcı Yüklemeleri (Profil Fotoğrafları vs.)
media/

# Mac İşletim Sistemi Dosyaları
.DS_Store