<div class="card-footer text-center">
    <a href="{% url 'chat' item.candidate.user.id %}" class="btn btn-outline-primary btn-sm">
        Mesaj At
    </a>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {{ item.candidate.user.username }}
            {% if item.unread_count > 0 %}
                <span class="badge rounded-pill bg-danger">{{ item.unread_count }}</span>
            {% endif %}
        </h5>
        
        <a href="{% url 'chat' item.candidate.user.id %}" class="btn btn-primary">
            {% if item.unread_count > 0 %} Mesajları Oku {% else %} Mesaj Gönder {% endif %}
        </a>
    </div>
</div>
